@model Pizza.Api.Models.ResumeViewModel

@{
    ViewData["Title"] = "Résumé de la commande";
}

<h1>Bon de livraison et facturation de la commande</h1>

<h4>Bon Livraison</h4>
<hr />
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BonLiv.CdeCli.Client)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.BonLiv.CdeCli.Client.Nom_Cli)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BonLiv.CdeCli.Livre_Emporte)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.BonLiv.CdeCli.LivreouEmporter)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BonLiv.Date_Liv)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.BonLiv.Date_Liv)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BonLiv.CdeCli.Client.Adresse)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.BonLiv.CdeCli.Client.Adresse.Adresse)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.BonLiv.CdeCli.Client.Adresse.Quartier)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.BonLiv.CdeCli.Client.Adresse.Quartier.Nom_Quartier)
</dd>

<hr />
<h4>Facturation</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Facturation.Date_Fact_Cli)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Facturation.Date_Fact_Cli)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Facturation.Montant_Total)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Facturation.Montant)
    </dd>
</dl>

<div>
    <a asp-action="Index" asp-controller="Commande">Voir la liste des commandes</a>
</div>
